<div class="container">
    <div class="sidebar">
        <ul>
            <li *ngFor="let user of contacts()" (click)="loadConversation(user)"
                [class.active]="receiverId === user.id">
                {{ user.name }}
            </li>
        </ul>
    </div>

    <div class="chat">
        <div *ngIf="isLoading()">
            Loading...
        </div>

        <div *ngIf="errorMes()">
            {{ errorMes() }}
        </div>

        <div *ngFor="let msg of messages()" class="Senders"
            [ngClass]="msg.sender_id == loginApi.userId() ? 'left' : 'right'">
            <p class="message">{{ msg.message }}</p>
        </div>

        <div class="input">
            <input type="text" [(ngModel)]="newMessage" >
            <button (click)="sendMessage()">submit</button>
        </div>
    </div>
</div>